body {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  letter-spacing: 0.0625em;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h1 { 
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 { 
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 { 
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 { 
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 { 
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

a {
  color: #000;
}

.striped-background-color {
  background-color: #f2f2f2;
}

.header-spacing.ui.header {
  margin-bottom: 2.0em;
  padding: 2.0em 0;
}

.slick-prev, .slick-next {
  z-index: 50;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.content-container {
  margin: 0 auto;
  margin-top: 75px; 
}
/*
.car-details-container {
  margin: 0 auto;
}
*/
.container-width {
  max-width: 1000px;
  margin: 0 auto;
}

.banner-container {
  position: relative;
}

.banner {
  max-width: 210px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 40%;
}

.search-btn-container {
  text-align: center;
}

.margin-top {
  margin-top: 2em;
}

.center {
  text-align: center;
}

.margins {
  margin-top: 3.0em;
  margin-bottom: 2.0em;
  padding-bottom: 2.0em;
}

.ui.horizontal.list>.item {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.overview-specs {
  line-height: 1.4285;
}

.overview-specs.ui.list {
  margin: 1.5em 2.5em;
  padding-left: 1.25em;
}

.overview-features.ui.card {
  padding: 17px;
  font-weight: bold;
  font-size: 0.83em;
}

.overview-features.ui.list {
  line-height: 1.2em;
}

.currency {
  margin: 1em 0;
  padding: 0.5em 0;
  font-size: 24px;
  font-weight: bold;
}