h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h1 { 
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 { 
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 { 
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 { 
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 { 
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.slick-prev, .slick-next {
  z-index: 50;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 75px; 
}

.car-details-container {
  max-width: 1000px;
  margin: 0 auto;
}

.banner-container {
  position: relative;
}

.banner {
  max-width: 210px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 40%;
}

.search-btn-container {
  text-align: center;
}

.margin-top {
  margin-top: 15px;
}

.center {
  text-align: center;
}

.model-nav {
  margin-top: 40px;
  margin-bottom: 40px;
}